# dependencies
node_modules/
.pnp
.pnp.*

# environment variables
.env
.env.local
.env.*.local

# build outputs
dist/
.next/
out/

# database
*.db
*.db-journal

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# misc
coverage/
